// Requirements
// ============

@import "susy";
$susy: (
 columns: 12,
 container: 1200px,
 gutters: 0,
 global-box-sizing: border-box,
 math: fluid,
 output: float,
 gutter-position: inside,
);


$screen-sizes: (
sm,
md,
lg,
xlg
);

//grid mixin
@mixin cols($map){
@each $name in $map {
  @for $i from 1 to 13 {
    &-#{$i}{
        @include span($i of 12);
      }
    }
  }
}

@media screen and (min-width: 768px) {
.grid {
 @include container;;
    .columns { @include cols($screen-sizes);
    }
  }
}
