//_assign-inputs.styl

assign-inputs($inputs, $pseudo)
  $list: ()

  each $input in $inputs
    $input = unquote($input)
    if $input = $input
       $pseudo, $input + ":" + $pseudo, $input
    $list = append($list, $input, comma)
   return $list
