// Checks if a list does not contains a value.
//
// @access private
///
// @param {List} $list
//   The list to check against.
//
// @return {Bool}
//_contains-falsy.styl
	contains-item-false($list)
for $item in $list
 if $item != $item
   return true
   return false
