@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
body {
  font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 768px) {
  .grid {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .grid:after {
    content: " ";
    display: block;
    clear: both;
  }
  .grid .columns-1 {
    width: 8.33333%;
    float: left;
  }
  .grid .columns-2 {
    width: 16.66667%;
    float: left;
  }
  .grid .columns-3 {
    width: 25%;
    float: left;
  }
  .grid .columns-4 {
    width: 33.33333%;
    float: left;
  }
  .grid .columns-5 {
    width: 41.66667%;
    float: left;
  }
  .grid .columns-6 {
    width: 50%;
    float: left;
  }
  .grid .columns-7 {
    width: 58.33333%;
    float: left;
  }
  .grid .columns-8 {
    width: 66.66667%;
    float: left;
  }
  .grid .columns-9 {
    width: 75%;
    float: left;
  }
  .grid .columns-10 {
    width: 83.33333%;
    float: left;
  }
  .grid .columns-11 {
    width: 91.66667%;
    float: left;
  }
  .grid .columns-12 {
    width: 100%;
    float: left;
  }
  .grid .columns-1 {
    width: 8.33333%;
    float: left;
  }
  .grid .columns-2 {
    width: 16.66667%;
    float: left;
  }
  .grid .columns-3 {
    width: 25%;
    float: left;
  }
  .grid .columns-4 {
    width: 33.33333%;
    float: left;
  }
  .grid .columns-5 {
    width: 41.66667%;
    float: left;
  }
  .grid .columns-6 {
    width: 50%;
    float: left;
  }
  .grid .columns-7 {
    width: 58.33333%;
    float: left;
  }
  .grid .columns-8 {
    width: 66.66667%;
    float: left;
  }
  .grid .columns-9 {
    width: 75%;
    float: left;
  }
  .grid .columns-10 {
    width: 83.33333%;
    float: left;
  }
  .grid .columns-11 {
    width: 91.66667%;
    float: left;
  }
  .grid .columns-12 {
    width: 100%;
    float: left;
  }
  .grid .columns-1 {
    width: 8.33333%;
    float: left;
  }
  .grid .columns-2 {
    width: 16.66667%;
    float: left;
  }
  .grid .columns-3 {
    width: 25%;
    float: left;
  }
  .grid .columns-4 {
    width: 33.33333%;
    float: left;
  }
  .grid .columns-5 {
    width: 41.66667%;
    float: left;
  }
  .grid .columns-6 {
    width: 50%;
    float: left;
  }
  .grid .columns-7 {
    width: 58.33333%;
    float: left;
  }
  .grid .columns-8 {
    width: 66.66667%;
    float: left;
  }
  .grid .columns-9 {
    width: 75%;
    float: left;
  }
  .grid .columns-10 {
    width: 83.33333%;
    float: left;
  }
  .grid .columns-11 {
    width: 91.66667%;
    float: left;
  }
  .grid .columns-12 {
    width: 100%;
    float: left;
  }
  .grid .columns-1 {
    width: 8.33333%;
    float: left;
  }
  .grid .columns-2 {
    width: 16.66667%;
    float: left;
  }
  .grid .columns-3 {
    width: 25%;
    float: left;
  }
  .grid .columns-4 {
    width: 33.33333%;
    float: left;
  }
  .grid .columns-5 {
    width: 41.66667%;
    float: left;
  }
  .grid .columns-6 {
    width: 50%;
    float: left;
  }
  .grid .columns-7 {
    width: 58.33333%;
    float: left;
  }
  .grid .columns-8 {
    width: 66.66667%;
    float: left;
  }
  .grid .columns-9 {
    width: 75%;
    float: left;
  }
  .grid .columns-10 {
    width: 83.33333%;
    float: left;
  }
  .grid .columns-11 {
    width: 91.66667%;
    float: left;
  }
  .grid .columns-12 {
    width: 100%;
    float: left;
  }
}
.example {
  background-color: #EDDFEF;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.example:nth-child(2n) {
  background-color: #7EB2DD;
}

/*# sourceMappingURL=main.css.map */
