// Bourbon 4.2.3
// http://bourbon.io
// Copyright 2011-2015 thoughtbot, inc.
// MIT License

// @require "settings/prefixer";
// @require "settings/px-to-em";
// @require "settings/asset-pipeline";

@require "functions/_assign-inputs"
@require "functions/_contains"
@require "functions/_contains-falsy"
@require "functions/_is-length"
@require "functions/_is-light"
@require "functions/_is-number"
@require "functions/_is-size"
@require "functions/_px-to-em"
@require "functions/_px-to-rem"
@require "functions/_shade"
@require "functions/_strip-units"
@require "functions/_tint"
@require "functions/_transition-property-name"
@require "functions/_unpack"
@require "functions/_modular-scale"

//@require "helpers/_convert-units"

// @require "helpers/directional-values"
// @require "helpers/font-source-declaration"
// @require "helpers/gradient-positions-parser"
// @require "helpers/linear-angle-parser"
// @require "helpers/linear-gradient-parser"
// @require "helpers/linear-positions-parser";
// @require "helpers/linear-side-corner-parser";
// @require "helpers/radial-arg-parser";
// @require "helpers/radial-positions-parser";
// @require "helpers/radial-gradient-parser";
// @require "helpers/render-gradients";
// @require "helpers/shape-size-stripper";
// @require "helpers/str-to-num";

// @require "css3/animation";
// @require "css3/appearance";
// @require "css3/backface-visibility";
// @require "css3/background";
// @require "css3/background-image";
// @require "css3/border-image";
// @require "css3/calc";
// @require "css3/columns";
// @require "css3/filter";
// @require "css3/flex-box";
// @require "css3/font-face";
// @require "css3/font-feature-settings";
// @require "css3/hidpi-media-query";
// @require "css3/hyphens";
// @require "css3/image-rendering";
// @require "css3/keyframes";
// @require "css3/linear-gradient";
// @require "css3/perspective";
// @require "css3/placeholder";
// @require "css3/radial-gradient";
// @require "css3/selection";
// @require "css3/text-decoration";
// @require "css3/transform";
// @require "css3/transition";
// @require "css3/user-select";
//
// @require "addons/border-color";
// @require "addons/border-radius";
// @require "addons/border-style";
// @require "addons/border-width";
// @require "addons/buttons";
// @require "addons/clearfix";
// @require "addons/ellipsis";
// @require "addons/font-stacks";
// @require "addons/hide-text";
// @require "addons/margin";
// @require "addons/padding";
// @require "addons/position";
// @require "addons/prefixer";
// @require "addons/retina-image";
// @require "addons/size";
// @require "addons/text-inputs";
// @require "addons/timing-functions";
// @require "addons/triangle";
// @require "addons/word-wrap";
//
// @require "bourbon-deprecated-upcoming";
