.example {
  background-color: #EDDFEF;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

  &:nth-child(2n) {
    background-color: #7EB2DD;
  }
}
